################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CPlusPlus_Basics/.vs
/CPlusPlus_Basics/testkey.pub
/CPlusPlus_Basics/testkey
